<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">
    <servlet>
        <servlet-name>VFSServlet</servlet-name>
        <servlet-class>com.adstream.servlets.VFSServlet</servlet-class>

        <!-- File System root path to search -->
        <init-param>
            <param-name>FileStorePath</param-name>
            <param-value>C:\Violet\AssetStore</param-value>
        </init-param>

        <!-- http://wiki.apache.org/commons/VfsCacheStrategy -->
        <init-param>
            <param-name>CacheStrategy</param-name>
            <param-value>MANUAL</param-value>
            <!--<param-value>ON_CALL</param-value>-->
            <!--<param-value>ON_RESOLVE</param-value>-->
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>VFSServlet</servlet-name>
        <url-pattern>/files/*</url-pattern>
    </servlet-mapping>
</web-app>
